NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
RESEND_API_KEY=
MAIL_FROM=Kakla Sane & Crew <onboarding@resend.dev>
CONTACT_RECEIVER_EMAIL=hello@kaklasanecrew.com
ADMIN_EMAIL=admin@kaklasanecrew.com
ADMIN_PASSWORD=KaklaCrew2026!
